h1
{
background: red;
}
.par-1
{
font-size: 14pt;
color: blue;
}

.par-2
{
border: 10px solid yellow;
border-radius: 5px;
}
div
{
font-family: Arial;
font-weight: 900;
}

.par-3
{
text-align: center
}
